@font-face {
font-family: 'mf';
src: url('font/mplus-2p-medium.ttf') format('truetype');
}

* {
  margin:0;
  padding:0;
  font-family:"mf";
  overflow:hidden;
  font-weight:normal;
}

html {
  height:100%;
}

body {
  height:100%;
  position:relative;
}

#screen_green {
  width:100%;
  height:100%;
  background-image:url(img/bg_sq.png);
  background-size:100% 100%;
  background-color:#6CB352;
}

#screen_capcha {
  width:100%;
  height:100%;
  position:relative;
}

#ck {
  width:150px;
  height:126px;
  float:left;
  background-image:url(img/check.png);
  background-size:contain;
  background-repeat:no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  margin-top:67px;
  margin-right:30px;
}

h1#status {
  display:block;
  font-size:155px;
  font-weight:normal;
  color:#fff;
  float:left;
  margin-right:24px;
}

#text_box {
  color:#fff;
  width:800px;
  height:100%;
  font-size:20px;
}

.marginner {
  margin-left:190px;
  display:block;
}

#name {
  font-size:59px;
  font-weight:normal;
  margin-top:-50px;
  color:#fff;
}

#screen_box {
		margin: -200px 0 0 -550px;  /*縦横の半分をネガティブマージンでずらす*/
  		position: fixed;  /*body要素に対して絶対配置*/
  		top: 46%;  /*上端を中央に*/
  		left: 50%;  /*左端を中央に*/
  		width: 1100px;  /*横幅*/
  		height: 400px;  /*縦幅*/
      float:left;
}

#status_box {
  		position: fixed;
  		bottom:0;
  		width: 100%;
  		height: 95px;
      padding-top:5px;
      background-color:#fff;
      color:#222;
      display:table-cell;
      vertical-align:middle;
      text-align:center;
}

#footest {
  width:100%;
  height:100%;
  display:table-cell;
  vertical-align:middle;

}

.clock_txt{
  color:#555;
  font-size:60px;
}

#select_box {
  width:100%;
  margin-top:30px;
  display:block;
  text-decoration:none;
}

#choice_btn {
  width:1100px;
  height:70px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  background-color:rgba(0,0,0,0.4);
  font-size:25px;
  color:#fff;
}

.closer {
  display:block;
  float:left;
  font-size:35px;
  margin-top:94px;
  font-weight:normal;
}

#choice_btn p {
  color:#fff;
  font-size:1em;
}

#liliq {
  display:block;
  position:absolute;
  top:50px;
  left:50px;
  width:160px;
  height:45px;
}
/*
#face_box {
  background-color:#ccc;
  height:240px;
  width:210px;
  float:right;
  margin-top:30px;
}*/

.iti {
  display:block;
  margin-top:30px;
}
